version: '3.8'

services:
  backend:
    build: .
    container_name: compass_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app/app  # Allows code changes to sync instantly
    restart: always